<% @classroom.students.each do |student| %>
  <%= student.name %> <button type="submit" class="btn btn-primary btn-lg btn-block">
      <h2 class="navbar-text white">Destroy</h2>
  </button>
<% end %>
