
<% @classroom.students.each do |student| %>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= student.name %> <button type="submit" class="btn btn-danger btn">
                  <h2 class="navbar-text white">Destroy</h2>
                </button>
            </div>
        </div>
    </div>
</div>
<% end %>
