<div class="home-content center">
<div class="front-title">
<h2 class="white">Welcome to myTA</h1>
<% if !logged_in? %>
<h3 class="white">Get started by either registering or logging in</h3>
<% end %>
<h2 class="white">Click "My Classes" in the top right to access your classes.</h2>
</div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>myTA</h1>
        <p class="lead">/mī/tee/ey/  <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAABN0lEQVR4AZ3UT4vNYRwF8M+dieS3uNtb7r1lKZPNTNlMWY13gDeBrih7L2A2yka2ItlZYWGrjBJF+VdYjEJTFsI1x9qTX/Ptfp716dmc71m2tzfGPvmibAaI+OOmiZLTdgERETtO2dMJPwVwzHVzEbsu64cVOyIAWPNCRJzVa+yjNEGGHoj4bd1/DT2XNgg6WyJeO6Blv0fSE2Tqu4iZxsBtaYPuOQTgkogPlgGATWmDiG1HAZ1vIjZI/wNEvNMBronYXFJz2HnAQ3C8+mM8BUxEbA9EvwEI+OEg2OcX5ksWVA++AozA13rwDmANvK0G37sK2ACPawX4bKUpwMlK5e4aAbjYVG6xktfP6klzVqVD7twXMbdenw5WPRMR5+pjtepG/1jV5vGMkgv/DPItU3XgpSuOaPwFsUTQA47vSZQAAAAASUVORK5CYII="></p>
        <p class="lead">
            <i class="lead">determiner/noun</i>
            <p class="lead">
            <li>
                myTA is a web application to help you with your daily teaching tasks.</li>
        </p>
        <p class="lead">
            <li>
                Create classes and add students.</li>
        </p>
        <p class="lead">
            <li>
                All classes and students will be saved to your account.</li>
        </p>
        <p class="lead">
            <li>
                Checked students will be marked as 'here'.</li>
        </p>
        <p class="lead">
            <li>
                Unchecked students will be marked as 'absent'.</li>
        </p>
        <p class="lead">
            <li>
                Students will be marked as 'here' 12 AM PST, until unselected.</li>
        </p>
        <p class="lead">
          <li>
            Choose a random student based on cyclic or true randomization.</li>
          </p>
        <p class="lead">
            <li>
                You are only able to create teams and call on random students with those that are selected.</li>
        </p>
        <p class="lead">
          <li>
            Edit each class by clicking the 'Edit' button</li>
          </p>
          <p class="lead">
            <li>
              Easily Navagate to other classes using the Navagation bar on the right</li>
            </p><br><br>
    </div>
</div>
