/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 **/

 .searchable-container{margin:20px 0 0 0}
 .searchable-container label.btn-default.active{background-color:#007ba7;color:#FFF}
 .searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
 .searchable-container label .bizcontent{width:100%;}
 .searchable-container .btn-group{width:90%}
 .searchable-container .btn span.glyphicon{
     opacity: 0;
 }
 .searchable-container .btn.active span.glyphicon {
     opacity: 1;
 }

#nav-bar-right {
  position:fixed;
  margin-top: -20px;
  margin-right: 0;
  float: right;
}

.random-toggle {
  top: -50px;
}
#cyclic-random {
  display:none;
  width: 100%;
  height:20vh;
}

body {
    background-image: url('http://partysaints.co.uk/wp-content/uploads/2016/07/background-for-website.jpg');
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.dropdown-toggle {
  color: white;
}
.dropdown-toggle:hover {
  text-decoration: none;
  color: gray;
}
.dropdown-menu {
  width:100%;
}

.profile {
    width: 400px;
    height: 400px;
    position: absolute;
    top:20vh;
    left: 0;
    right: 0;
    margin: auto;
}

.students {
    width: 500px;
    height: 800px;
    position: absolute;
    top:20vh;
    left: 0;
    right: 0;
    margin: auto;
    overflow: scroll;
    border: 2px solid black;
}

.links {
  color: white;
}

.links:hover {
  text-decoration: none;
  color: gray;
}

.student-name {
  display: inline-block;
	float: left;
}
