/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 **/

 .front-title {
  padding-top: 50px;
  padding-bottom: 15px;
 }
 .navbar-right {
   padding-right: 5px;
 }
 .navbar-text {
   font-size: 1.2vw;
 }

 .searchable-container {
   margin:20px 0 0 0;
 }

 .searchable-container label.btn-default.active {
   background-color:#007ba7;
   color:#FFF;
 }

 .searchable-container label.btn-default{
   width:90%;
   border:1px solid #efefef;
   margin:5px;
   box-shadow:5px 8px 8px 0 #ccc;
 }

 .searchable-container label .bizcontent {
   width:100%;
 }

 .searchable-container .btn-group {
   width:90%;
 }

 .searchable-container .btn span.glyphicon{
     opacity: 0;
 }

 .searchable-container .btn.active span.glyphicon {
     opacity: 1;
 }

.top-nav {
   margin-top: 0;
   position:fixed;
   z-index: 2;
 }

 .dropdown-arrow {
   width: 5%;
 }

 .navbar-button {
   width: 100%;
   height: 10vh;
 }

.cyclic-random-button,
.true-random-button {
  width: 7.2vw;;
  height:auto;
}

#nav-bar-right {
  position:fixed;
  height: 100vh;
  width: 15%;
  top: 50px;
  right: 0;
  z-index: 1;
  float: right;
  outline: none;
}

#cyclic-random {
  display:none;
}

.home-content{
  margin-top: 4%;
}

body {
    background-image: url('http://partysaints.co.uk/wp-content/uploads/2016/07/background-for-website.jpg');
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.teams {
  margin-top: 15%
}

.instructions {
  margin-top: 10%;
}

.dropdown {
  width: 100%;
  height: 5vh;
}

.team-name {
  color: white;
}

.team-name:hover{
  color:gray;
}

.dropdown-toggle {
  color: white;
}

.white {
  color: white;
}

.gray {
  color: gray;
}

.bizcontent {
  width: auto;
}

.students-form {
  width: 30%;
}

.student-name {
  letter-spacing: 2px;
  font-size: 1vw
}

.students-search {
  left: 35%;
}

.modal-header {
  padding:35px 50px;
}

.dropdown-toggle:hover {
  text-decoration: none;
  color: gray;
}

.dropdown-menu {
  width:100%;
}

.github-img {
  width: 2%;
}

.center {
  text-align: center;
}

.profile {
    width: 400px;
    height: 400px;
    position: absolute;
    top:20vh;
    left: 0;
    right: 0;
    margin: auto;
}

.students {
    width: 40vw;
    height: 80vh;
    position: absolute;
    top:15vh;
    left: 0;
    right: 0;
    margin: auto;
    overflow: scroll;
    border: 2px solid black;
}

.links {
  color: white;
}

.links:hover {
  text-decoration: none;
  color: gray;
}

.student-name {
  display: inline-block;
}

.back-link {
  margin-bottom: 90%
}
.edit-class-show {
  display: none;
}

.class-edit {
  margin-top: 60px;
  margin-bottom: 5%;
}

.edit-class-show {
}

.square {
  background: url(http://www.ahomegardenparty.com/wp-content/uploads/2016/06/desk-free-stock-photo-illustration-of-a-student-desk-and-chair-inside-11-school-desk-background.png);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: 100%;
  background-position: top center !important;
  background-repeat: no-repeat !important;
    float:left;
    position: relative;
    width: 15%;
    padding-bottom : 15%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}
.student-name-destroy {
  text-align: right;
  position: relative;
  font-size: 2vw;
}

.destroy-student {
  margin-left: 20%;
  margin-bottom: 0;
}

.instructions {
  margin-top: 8vh;
}

.home-show {
  display: none;
}

.no-teams {
  display: none;
}

.edit-div {
  margin-top: 100px;
}

.add-student-form {
  margin-left: 35%;
}
